/* ---------------basic css starts--------------- */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

:root {
  --yellow-color: #faba0a;
  --orange-color: #ff6900;
  --black-color: #000000;
  --gray-color: #abb8c3;
  --white-color: #ffffff;
  --border-radius: 0 0 16px;
  --btn-hover: #fcce46;

  --background-color: #373e44;
  --grey-color: #3f4549;
  /* --background-color: #212529; */
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  font-family: "Maven Pro", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section,
.section {
  padding: 2rem 9%;
  background-color: var(--background-color);
}

/* basic css ends */

/* -------------partials css starts------------ */
.bounce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14.5rem;
  animation: bounce infinite 2s linear;
  cursor: pointer;
}

.bounce p,
.bounce i {
  display: inline-block;
  font-size: 1.6rem;
  color: white;
  font-weight: 400;
}

.bounce i {
  color: var(--yellow-color);
  font-size: 2.5rem;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}
h1.title {
  color: var(--yellow-color);
  font-size: 3.2rem;
}

p.title {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: start;
  line-height: 2.3rem;
}
.cirle-direct {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background-color: #5d5d5d;
  position: relative;
}

.cirle-direct-inside {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--yellow-color);
  top: 1.5rem;
  left: 1.5rem;
}
/* -------------partials css ends------------ */

/* ---------------header section starts--------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-weight: 500;
  /* opacity: 0.95; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 100vw;
  background-color: #abb8c3;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-img {
  cursor: pointer;
}

header nav a {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  color: var(--white-color);
  /* color: #ffffff; */
}

header nav a:hover {
  background-color: var(--btn-hover);
}

header nav a.btn-estimate {
  padding: 1.7rem;
  background-color: var(--yellow-color);
  border-radius: var(--border-radius);
}

header nav a.btn-estimate:hover {
  background-color: var(--btn-hover);
}

header .logo-img {
  margin-right: 3rem;
}

header .logo-img img {
  width: 18rem;
  object-fit: cover;
}
/* header section ends */

/* ---------------home section starts -----------*/
#home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#home .home-left {
  width: 50%;
}
#home .home-left h1 {
  color: white;
  font-size: 5.9rem;
  font-weight: 300;
  margin-bottom: 6.8rem;
}

#home .home-left h1 span {
  font-weight: 900;
  color: var(--yellow-color);
}

.home-right {
  width: 50%;
}
.home-right svg {
  margin-left: 3.5rem;
  margin-top: 3.5rem;
  width: 88%;
}

.home-right #thePath {
  fill: var(--background-color);
  stroke: var(--yellow-color);
  opacity: 1;
  stroke-dasharray: 3164.508544921875;
  stroke-dashoffset: 0;
  animation: animate 6s linear forwards;
}

@keyframes animate {
  0% {
    stroke-dashoffset: 3164.508544921875;
  }
  40% {
    stroke-dashoffset: 1582.25427246;
  }
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: url(../assets/images/designveloper/home.jpg);
  }
}
/* home section ends */

/* ---------------about us section starts--------------- */
#about .about-left {
  max-width: 48%;
}

#about .container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 11rem;
}

.about-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-right {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6rem;
  margin-right: 3rem;
}

.about-right p.title {
  line-height: 3rem;
  margin-top: 1.8rem;
}

.counter {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.counter p.number {
  color: var(--yellow-color);
  font-size: 5rem;
  text-align: center;
  text-align: center;
  line-height: 3.7rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.counter p.text {
  color: #6b7782;
  font-size: 1.2rem;
}
/* about us section ends */

/* ---------------our services section starts--------------- */
#ourservices .ourservices__info {
  display: flex;
}

.ourservices__info h1.title {
  min-width: 27rem;
}

.ourservices__info p.title {
  max-width: 66rem;
}

.ourservices__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.ourservices__card .card {
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
}

.ourservices__card .card:hover {
  box-shadow: 1rem 0.2 1rem 1rem #373e44 0.2;
}
.card .card__img {
  width: 13rem;
  padding-top: 6rem;
}

.card .card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  line-height: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cirle-direct {
  margin-left: 3rem;
}
/* our services section ends */

/* ---------------party section starts--------------- */
#party {
  background-image: url(../assets/images/designveloper/party.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55rem;
  padding-bottom: 2rem;
}

#party p.title {
  text-align: center;
  max-width: 60rem;
  margin-top: 2rem;
}
.party__image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 5rem;
}
.party__image .image {
  height: 13rem;
}

.party__image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* party section ends */

/* ---------------projects section starts--------------- */

/* projects section ends */

/* ---------------man section starts--------------- */
/* man section ends */

/* ---------------news section starts--------------- */
/* news section ends */

/* ---------------footer section starts--------------- */

/* footer section ends */
